

      <div class="card mb-3" style="width: 45 rem;">
            <div class="row no-gutters">
              <div class="col-md-5">
                    <img src="https://cdn.website-editor.net/46abc39e79994b76acc068270568606f/dms3rep/multi/desktop/richardson+founders.jpg" class="card-img-top" alt="...">
                </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h5 class="card-title">Diginity, Trust And Professionalism</h5>
                  <p class="card-text">Richardson Funeral Home Inc., was founded by the late Rayfield and Ruby Richardson, 
                        with a strong entrepreneurship spirit. They started in the mortuary industry with partnership in 
                        Warner Robins, GA, in 1958, as R.N.T Funeral Home. While in partnership, Ruby and Rayfield Richardson
                         branched out and opened their first location in Perry, Georgia, in 1971. In the mist of economic change 
                         and challenging times, the Richardsons' were able to serve their community with dignity, trust, 
                         and professionalism.  The Richardsons' touched many families in a time where just being there
                          meant so much. In 1985, the parntnership of R.N.T dissolved and the Richardson's gave birth to
                           their second location, Richardson & Son Funeral Home, in Warner Robins,  Georgia. 
                           Today, Richardson Funeral Homes Inc. is still a thriving family owned business, that still 
                           committe to dignity, trust  and professionalism.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>