/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
body {
    margin:0px;
}
#nava {
    color: #eef10c
}
nav {
    background: linear-gradient(to top, #1022c5dc 0%, #f5e725cb 100%)fixed;
}



body {
    background: linear-gradient(to top, #1022c5dc 0%, #f5e725cb 100%)fixed;
}


 /* 
body {
    background-image: url("https://www.downloadwallpapers.info/dl/1680x1050//2015/12/10/835092_above-the-clouds_1920x1200_h.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
} */
