
<mat-card class="mat-card" style="width: 30rem;">
        <mat-card-title> Please Input Your Information Below </mat-card-title>
        <mat-card-content>
<div class="example-container">
        <form (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput placeholder="First Name" [(ngModel)]='fName' name="fName">
    </mat-form-field>
    <br><br>
    <mat-form-field>
        <input matInput placeholder="Last Name" [(ngModel)]='lName' name="lName">
    </mat-form-field>
    <br><br>

    <mat-form-field>
        <input matInput placeholder="Phone Number" [(ngModel)]='pNumber' name="pNumber">
    </mat-form-field>
    <br><br>
    <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]='email' name="email">
          </mat-form-field>
          <br><br>
    <mat-form-field>
        <textarea matInput placeholder="Description" [(ngModel)]='desc' name="desc"></textarea>
    </mat-form-field>
    <br><br>

    <mat-form-field>
        <mat-select placeholder="Best Form of Contact" [(ngModel)]='contactType' name="contactType">
            <mat-option value="true">Phone</mat-option>
            <mat-option value="false">Email</mat-option>
            <mat-option value="true">Either</mat-option>
        </mat-select>
    </mat-form-field>
    </form>
</div>
</mat-card-content>
</mat-card>